.jumbotron {
    background-color: orange;
    color: black
}

footer {
	padding: 30px 10px 0px 30px;
	background-color: orange;
	color: black;
	margin-bottom: 0px;
	margin-top:10px;
}

img {
    padding: 60px 10px 40px 10px;	
}
