.jumbotron {
    background-color: orange;
    color: black; 
    margin-top:5px;
}

footer {
	padding: 30px 10px 0px 30px;
	background-color: orange;
	color: black;
	margin-bottom: 0px;
	margin-top:10px;
}

img {
    padding: 20px 10px 40px 10px;	
}


.footer-icon {
	padding-right: 10px;
}

.body-icon {
	padding-right: 15px;
}

.padding-titulo {
    padding-bottom: 30px;
    padding-top: 50px;
}

.padd_btn_contact {
    padding-bottom: 20px;
}

form {
	padding-bottom: 15px;
}

.body-icon-estadist {
	padding-left: 15px;
}

.card-admin { 
	border-radius:5px
}

.btn-config {
	width:70%;
	border-radius:20px;

}

.card-btn {
	padding-bottom: 10px;
}